@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid vh-100 pt-5">


    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.primerNombre" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.primerNombre"></label>
                    <span asp-validation-for="Input.primerNombre" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.segundoNombre" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.segundoNombre"></label>
                    <span asp-validation-for="Input.segundoNombre" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.primerApellido" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.primerApellido"></label>
                    <span asp-validation-for="Input.primerApellido" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.segundoApellido" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.segundoApellido"></label>
                    <span asp-validation-for="Input.segundoApellido" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
