html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #2e323c;
    background-color: #f5f6fa;
}

.navbar-logo-img {
    width: 80px;
}

.page-title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .page-title hr {
        border: 0;
        height: 1px;
        margin: 10px auto;
        width: 50%;
    }

/* Estilo global para botones de Bootstrap con bordes cuadrados */
.btn {
    border-radius: 0 !important; /* Bordes cuadrados */
}


/* Sobrescribir el color Primary de Bootstrap */
.btn-primary {
    background-color: #0095ac !important;
    border-color: #0095ac !important;
}

.text-primary {
    color: #0095ac !important;
}

.bg-primary {
    background-color: #0095ac !important;
}

.border-primary {
    border-color: #0095ac !important;
}

/* Otros elementos que usan el color primary */
a.text-primary:hover,
a.text-primary:focus {
    color: #007a91 !important; /* Un tono más oscuro para hover */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #007a91 !important; /* Un tono más oscuro para hover */
    border-color: #007a91 !important;
}

/* Cambiar el color de fondo y el borde de la navbar con clase navbar-primary */
.navbar-primary {
    background-color: #0095ac !important;
    border-color: #0095ac !important;
}

    /* Cambiar el color del texto dentro de la navbar */
    .navbar-primary .navbar-brand,
    .navbar-primary .navbar-nav .nav-link {
        color: white !important; /* Cambia a blanco o el color que prefieras */
    }

        /* Cambiar el color de los elementos en estado hover/focus */
        .navbar-primary .navbar-brand:hover,
        .navbar-primary .navbar-nav .nav-link:hover {
            color: #006678 !important; /* Un tono más oscuro para el hover */
            font-weight: bold;
        }
/* Sobrescribir el color Primary de Bootstrap */

/*CSS for Login Page*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,700;1,6..12,400;1,6..12,500;1,6..12,700&display=swap');

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-image: url('../images/login-bg.png');
}

.btn {
    font-size: 0.8rem;
    font-weight: 700;
}

    .btn i {
        vertical-align: text-top
    }

.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999
}

.divider {
    margin: 2rem 0;
}

.small-divider {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.btn-outline-custom {
    color: #31374a;
    border-color: #ddd;
}

    .btn-outline-custom:hover {
        color: #31374a;
        border-color: #eee;
        background-color: #eee;
    }

.th-btn-group-5 {
    width: 5%;
}

.th-btn-group-10 {
    width: 10%;
}


.text.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*CSS for Login Page*/



/* Forms Style */

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-width: 0;
    -moz-border-radius: 5px;
    position: relative;
    -webkit-border-radius: 5px;
    word-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
    .card .card-subtitle {
        font-weight: 300;
        margin-bottom: 10px;
        color: #8898aa;
    }

/* Forms Style */