@model BaseWebApplication.Models.AppUserConfigVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container-xxl">
    <form asp-action="Edit">
        <input type="hidden" asp-for="ID" />
        <div class="row g-2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row g-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">@BaseWebApplication.Resources.Resource.AppUser_EditTitle @Model.AppUser.UserName</h6>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-12 col-12">
                                <div class="form-group">
                                    <label asp-for="AppUser.UserName" class="control-label"></label>
                                    <input asp-for="AppUser.UserName" class="form-control" disabled />
                                    <span asp-validation-for="AppUser.UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="AppUser.FirstName" class="control-label"></label>
                                    <input asp-for="AppUser.FirstName" class="form-control" />
                                    <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="AppUser.MiddleName" class="control-label"></label>
                                    <input asp-for="AppUser.MiddleName" class="form-control" />
                                    <span asp-validation-for="AppUser.MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="AppUser.LastName" class="control-label"></label>
                                    <input asp-for="AppUser.LastName" class="form-control" />
                                    <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="AppUser.MiddleLastName" class="control-label"></label>
                                    <input asp-for="AppUser.MiddleLastName" class="form-control" />
                                    <span asp-validation-for="AppUser.MiddleLastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-end">
                                    <a asp-action="Index" class="btn btn-dark">
                                        <i class="bi bi-box-arrow-down-left"></i> @BaseWebApplication.Resources.Resource.General_GoBack
                                    </a> &nbsp;
                                     <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-download"></i> @BaseWebApplication.Resources.Resource.General_Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
